<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>企業・ビジネスサイト向け 無料ホームページテンプレート tp_biz52</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="ここにサイト説明を入れます">
		<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
		<link rel="stylesheet" href="app/assets/stylesheets/style.scss">
		<link rel="stylesheet" href="app/assets/javascript/print.scss" media="print">
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<style>
			.menu1 a {background-position: -10px -10px;}
			.menu2 a {background-position: -10px -130px;}
			.menu3 a {background-position: -10px -250px;}
			.menu4 a {background-position: -10px -370px;}
			.menu5 a {background-position: -10px -490px;}
		</style>
		<![endif]-->
	</head>

	<body class="works">

		<div id="container">

			<div id="contents">

				<div id="main">

					<article id="pagetop">
						<h1 class="title-logo"><%= link_to image_tag("ryoya_magician_logo_circle_white.png", alt: "SAMPLE SITE"), root_path %></h1>
						<h2 class="title">Works<span>業務内容</span></h2>

						<figure class="c mb30">
							<%= image_tag("sample1_big.jpg", alt: "写真の説明を入れます") %>
						</figure>

						<table class="ta1">
							<caption>見出しが必要であればここを使います</caption>
							<tr>
								<th>サンプル見出し</th>
								<td>サンプルテキスト。</td>
							</tr>
							<tr>
								<th>サンプル見出し</th>
								<td>サンプルテキスト。</td>
							</tr>
							<tr>
								<th>サンプル見出し</th>
								<td>サンプルテキスト。</td>
							</tr>
							<tr>
								<th>サンプル見出し</th>
								<td>サンプルテキスト。</td>
							</tr>
							<tr>
								<th>サンプル見出し</th>
								<td>サンプルテキスト。</td>
							</tr>
						</table>

					</article>

					<p><a href="javascript:history.back()">&lt;&lt; 前のページに戻る</a></p>

					<footer>
						<small>Copyright&copy; <a href="/">Ryo-ya Smile</a> All Rights Reserved.</small>
						<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
					</footer>

				</div>
				<!--/#main-->

			</div>
			<!--/#contents-->

		</div>
		<!--/#container-->

		<!--ページの上部に戻る「↑」ボタン-->
		<p class="nav-fix-pos-pagetop"><a href="#pagetop">↑</a></p>

	</body>
</html>
